.title {
  font-size: 12px;
  margin: 0 0 10px 0;
  text-align: center;

  em {
    font-weight: 300;
    font-style: italic;
  }
}

.controls {
  display: flex;
  align-items: center;
}

.time,
.duration {
  font-size: 10px;
}

.seekbar {
  appearance: none;
  width: 400px;
  margin: 0 3px;
  background: rgba(#ccc, 0.7);
  border-radius: 10px;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}