@import "../variables";

.topbar {
  margin-bottom: 40px;
  background: linear-gradient(to bottom, $dark-gray1, $dark-gray3);
  color: $light-gray1;
}

.inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  > * {
    flex: 1;
  }
}

.left {
  margin-right: auto;
}

.right {
  display: flex;
}

.navLink {
  color: $light-gray1;
  margin: 0 0 10px auto;

  &:hover {
    color: $light-gray5;
  }
}