@import "../variables";

.topbar {
  margin-bottom: 40px;
  background: linear-gradient(to bottom, $dark-gray1, $dark-gray3);
  color: $light-gray1;
}

.inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  > * {
    flex: 1;
  }
}

.left {
  margin-right: auto;
}

.right {
  display: flex;

  > a {
    color: $light-gray1;
    margin-left: auto;

    &:hover {
      color: $light-gray5;
    }
  }
}